.page {
  min-height: 100vh;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
  padding: 60px 0 0;
  font-family: 'Space Grotesk', sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 60px;
  margin: 0;
}

h2 {
  font-weight: 500;
  font-size: 40px;
  margin: 0;
}

h3 {
  font-weight: 500;
  font-size: 30px;
  margin: 0;
}

h4 {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}

p {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

button {
  font-family: 'Space Grotesk', sans-serif;
}

.black-button {
  font-weight: 400;
  font-size: 20px;
  color: #FFF;
  padding: 20px 35px;
  width: fit-content;
  border: solid 1px #000;
  border-radius: 14px;
  background: none;
  background-color: #000;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.black-button:hover {
  background-color: #1C1C1C;
}

.black-button:active {
  background-color: #000;
}
