.team {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.team__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
}

.team__button {
  padding: 20px 76px !important;
  margin-left: auto;
  margin-top: 40px;
}

.team__button_hidden {
  visibility: collapse;
}
