.header {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.header__bar {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__link {
  font-weight: 400;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.header__button-white {
  font-weight: 400;
  font-size: 20px;
  color: #000;
  width: 231px;
  height: 68px;
  border: solid 1px #000;
  border-radius: 14px;
  background: none;
  cursor: pointer;
}

.header__button-white:hover {
  background-color: #F1F1F1;
}

.header__button-white:active {
  background-color: #e9e9e9;
}


.header__cover {
  display: flex;
}

.header__info {
  max-width: 530px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.header__text {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.header__image {
  margin-left: auto;
}


.header__companies {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__company {
  filter: brightness(0) invert(41.18%) sepia() saturate(1000%) hue-rotate(200deg);
}
