.section__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.section__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.section__title {
  padding: 0 7px;
  height: min-content;
  border-radius: 7px;
  background-color: #B9FF66;
}

.section__description {
  max-width: 580px;
}

.section__description {
  max-width: 300px;
}
